<h1>Comentarios</h1>

<table class="table table-bordered table-condensed table-hover table-striped">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Comentario</th>
      <th>Video/Apunte</th>
      <!--th colspan="3"></th-->
    </tr>
  </thead>

  <tbody>
    <% @comments.where.not(user: current_user).each do |comment| %>
      <tr>
        <td><%= comment.user.name %></td>
        <td><%= comment.text[0...20] + (comment.text.length > 20 ? '…' : '') %></td>
        <td><%= link_to comment.root_commentable.title, comment.root_commentable.try(:class).try(:to_s) == 'Movie' ? classroom_video_path(comment.root_commentable) : classroom_notes_path %></td>
        <!--td><%# link_to 'Show', comment %></td-->
        <!--td><%# link_to 'Edit', edit_comment_path(comment) %></td-->
        <!--td><%# link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Comment', new_comment_path %>
