<div id="s2_back" class="presenciales"></div>
<div id="s3_des">
	<div class="s3_des-txtFull">
		<h1>Talleres presenciales</h1>
		<p>Clara también realiza cursos y talleres presenciales en su jardín en Tortuguitas, Provincia de Buenos Aires.</p>
		<img class="s3_des-txtFull-fullPic" src="<%= asset_path 'pags/presenciales/presencialesPic.jpg' %>"></img>
		<h3>HUERTA</h3>
		<p>En la huerta ya empiezan las jugosas cosechas, de tomates, siguen las de zucchinis, zapallitos y pepinos, y las de pimientos y berenjenas aún se hacen esperar. Los melones también estan casi a punto. Y las aromáticas a pleno, con la albahaca a la cabeza junto con todas las otras perfumando los platos del verano.</p>
		<p>Como tarea, la principal sigue siendo la colocación de tutores en todas las plantas que por la carga de los frutos en sus ramas, tienden a doblarse o tumbarse. A los pimientos y berenjenas les pongo una cañita o algo parecido que las pueda sostener en el futuro con todos sus frutos.</p>
		<h3>CANTEROS Y FLORES</h3>
		<p>En casa el cantero principal que estuvo espectacular en la primavera va a ser fuertemente podado, ya que muchas de las herbáceas perennnes (como ser las salvias) y también las dalias, prácticamente dejan de florecer por el calor y con una buena poda, brotarán frescas para florecer prolijamente desde marzo hasta las heladas. Es una manera un poco drástica pero efectiva de mantener el cantero en forma.</p>
		<p>Por supuesto que las gramíneas que están en su esplendor y los poligonum que empiezan a florecer no serán podados. Solamente podamos las herbáceas que ya han florecido y que lo harán nuevamente hasta el otoño.</p>
		<p>Para visitas guiadas consultar aquí: <a href="mailto:xxx@clarabilloch.com">xxx@clarabilloch.com</a></p>
	</div>
	<div id="s3_des-nwsl">
		<div id="s3_des-nwsl-icn"><img src="<%= asset_path 'nwsltr/btnNwsltr.png' %>" /></div>
		<div id="s3_des-nwsl-tit">
			<div id="s3_des-nwsl-tit-cont">
				<h1>Newsletter</h1>
				<p>Suscribirte para recibir las últimas novedades sobre cursos y publicaciones.</p>	
			</div>
		</div>
		<div id="s3_des-nwsl-form">
			<form action="includes/nwsltr_prc.php" method="post">
				<div id="s3_des-nwsl-form-mail">
					<input type="text" placeholder="Tu Email aquí" />
				</div>
				<div id="s3_des-nwsl-form-btn">
					<input type="submit" value="ENVIAR" />
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</div>