<div id="s2_back" class="presenciales"></div>
<div id="s3_des">
	<div class="s3_des-txtFull">
		<h1>Talleres presenciales</h1>
		<p>Clara también realiza cursos y talleres presenciales en su jardín en Tortuguitas, Provincia de Buenos Aires.</p>
		<img class="s3_des-txtFull-fullPic" src="<%= asset_path 'pags/presenciales/presencialesPic.jpg' %>"></img>
		<h3>HUERTA</h3>
		<p>Cómo iniciarse en la huerta. Ubicación, construcción, materiales constructivos, sustratos. Siembra: modo de siembra. Cultivos de invierno, cultivos de verano, cultivos todo el año y cultivos perennes. Aromáticas.</p>
		<p>Prácticas en cultivo: mantenimiento todo el año. Enfermedades y plagas.</p>
		<h3>ROSAS</h3>
		<p>Sus usos en el paisaje. Combinadas con herbáceas, en canteros, en macizos. Rosales de corte y rosales arbustivos. Variedades. Plantación . Cuidados básicos. Poda. Pulverizaciones. Plagas y enfermedades comunes: como combatirlas.</p>
		<p>Ramos con rosas (en los cursos de primavera y comienzos de otoño).</p>
		<h3>CANTEROS</h3>
		<p>Diseño: emplazamiento en el jardín, dimensión. Especies aptas, herbáceas perennes, gramíneas, anuales y bulbosas. Color aplicado al diseño de los canteros. Construcción, replanteo in situ, suelo y plantación.</p>
		<p>Métodos de propagación y épocas convenientes de acuerdo a los tipos de plantas y clima.</p>
		<h3>RAMOS CON FLORES DEL JARDIN</h3>
		<p>Cómo armar diferentes ramos y centros de mesa con flores y el follaje que hay en el jardín. Cultivo de especies para corte, las mejores para ramos. Recorrida por el jardín y reconocimiento de las plantas y flores. Identificación de variedades de rosas, las mas aptas para ramos, cuidados en cultivo.</p>
		<p>
			Clara organiza los talleres presenciales según su agenda del año, para enterarte sobre las próximas fechas seguila en Instagram <a href="https://www.instagram.com/clarabilloch/" target="_blank">@clarabilloch</a>.
		</p>
	</div>
	<%= render 'partials/newsletter_form' %>
</div>