<h1>Panel eneljardin.com.ar</h1>

<div>
	<a href="<%= users_path %>" class="button button-blue">Ver usuarios</a><br><br>
	<a href="<%= edit_user_registration_path %>" class="button button-orange">Editar perfíl</a><br><br>
	<a href="<%= payments_path %>" class="button button-bordeau">Ver compras</a><br><br>
	<a href="<%= comments_path(page: 1) %>" class="button">Ver comentarios</a>
</div>