<h1>Panel eneljardin.com.ar</h1>

<div>
	<a href="<%= edit_user_registration_path %>" class="button button-orange">Editar perfíl</a><br><br>
	<a href="<%= comments_path %>" class="button">Ver comentarios</a>
</div>