<div class="s0_popUp">
	<div class="s0_popUp-boxTxt">
		<div class="s0_popUp-boxTxt-btnCer" onclick="ocultarCV();"></div>
		<h1>Clara Billoch</h1>
		<p>Nació en 1965, en Buenos Aires, Argentina. Se recibió de Técnica en Floricultura y Jardinería (Facultad de Agronomía UBA) en el año 1987. Asistió a (participó de) diversos seminarios de jardinería en su país, en Chile (Nov 2004) y en Australia (Sept 2002).</p>
		<p>Realizó varios cursos de dibujo, acuarela y croquis a mano alzada. ASISTIÓ a los talleres de pintura y dibujo de Claudia Brito Sousa y Ana Rank. Hizo una pasantía sobre paisajismo urbano y jardinería, en el Parque de Bagatelle en Paris, Francia, en el año 1990. Desde chica junto a su madre, Clara fue descubriendo los secretos de las plantas.</p>
		
		<p>Luego de estudiar, se inició en el diseño de jardines en año 1986, realizando también el mantenimiento de los espacios que diseñaba, lo cual acrecentó su experiencia como jardinera hasta afianzarla en su propio jardín desde el año 1995.</p>
		<p>FUE COLABORADORA DE la revista jardín DURANTE VARIOS AÑOS, donde escribió varios años el Suplemento de Principiantes, es autora de las ediciones especiales de Huerta y Canteros en Flor, y de los fascículos para el Diario La Nación y Manuales Jardín: Huerta y 150 Plantas Fáciles.</p> 
		
		<p>Clara dicta cursos de jardinería desde el año 1997, transmitiendo sus conocimientos y prácticas jardineras. Recibe grupos de aficionados y estudiantes de Argentina, Uruguay y Australia que  realizan visitas guiadas en su jardín.</p> 
		<p>Ha publicado dos libros: Un Año en el Jardín, editado en noviembre de 2009. En él relata y comparte sus experiencias a lo largo de los doce meses del año en su propio jardín. Y Huerta y Cocina, publicado en marzo del 2014.</p>
		<p>Es profesora de la Escuela Pampa Infinita, donde dicta la materia Jardinería. Ha dado seminarios y charlas en el país y en el Uruguay, sobre Jardinería y Huerta.</p>
	</div>
</div>
<div id="s2_back" class="bienvenidos"></div>
<div id="s3_des">
	<div class="s3_des-txtFull">
		<h1>Bienvenido a mi site</h1>
		<p>Soy paisajista y jardinera.</p>
		<p>Me considero muy afortunada, ya que mi trabajo es también mi pasión.</p> 
		<p>Estoy todo el día abocada a la práctica jardinera: diseñando jardines, cuidando mi jardín y huerta, escribiendo publicaciones y dando cursos y seminarios de jardinería. También dedico parte de mi tiempo al cultivo de rosas y flores silvestres para corte.</p>
		<p>Como paisajista apunto a la creación de espacios que puedan ser aprovechados al máximo, trato de generar interés por la naturaleza y el espacio que nos rodea. Como educadora intento contagiar mi pasión por las plantas y transmitir todo mi conocimiento para que cada vez mas personas puedan disfrutar de la jardinería.</p>
		<p>A lo largo de los años he descubierto que trabajando y cuidando lo que se cultiva, siempre habrá motivos 
		para celebrar y disfrutar de las sorpresas que brinda el jardín.</p>
		<p>Gracias por visitar mi sitio.</p>
		<p><b><i>Clara Billoch.</i></b></p>
		</br></br>
		<a href="javascript: verCV();" class="btn_m">VER CV</a>
	</div>
	<div id="s3_des-nwsl">
		<div id="s3_des-nwsl-icn"><img src="<%= asset_path 'nwsltr/btnNwsltr.png' %>" /></div>
		<div id="s3_des-nwsl-tit">
			<div id="s3_des-nwsl-tit-cont">
				<h1>Newsletter</h1>
				<p>Suscribirte para recibir las últimas novedades sobre cursos y publicaciones.</p>	
			</div>
		</div>
		<div id="s3_des-nwsl-form">
			<form action="includes/nwsltr_prc.php" method="post">
				<div id="s3_des-nwsl-form-mail">
					<input type="text" placeholder="Tu Email aquí" />
				</div>
				<div id="s3_des-nwsl-form-btn">
					<input type="submit" value="ENVIAR" />
				</div>
			</form>
		</div>
		<div class="clear"></div>
	</div>
</div>